@charset "utf-8";
body {
  width: 1300px;
}
img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
ul {
  list-style: none;
}
li {
  border: 1px solid #000;
  width: 300px;
  height: 250px;
  float: left;
}

/* brightness */
.brightness {
  width: 1300px;
  height: 250px;
}
.img1 {
  filter: brightness(0%);
}
.img2 {
  filter: brightness(50%);
}
.img3 {
  filter: brightness(100%);
}
.img4 {
  filter: brightness(200%);
}

/* opacity */
.opacity {
  width: 650px;
  height: 250px;
}
.black {
  background-color: rgb(31, 20, 126);
}
.img6 {
  /*div안에 이미지 넣어야 이미지만 색상 적용됨*/
  filter: opacity(0.5);
  background-color: black;
}

/* linear */
.linear {
  width: 650px;
  height: 250px;
}
.linear1 {
  background-image: url(../images/peach.jpeg);
  width: 300px;
  height: 200px;
  background-size: cover;
}
.linear2 {
  background-image: linear-gradient(
      rgba(0, 102, 219, 0.5),
      rgba(255, 0, 0, 0.5)
    ),
    url(../images/peach.jpeg);
  width: 300px;
  height: 200px;
  background-size: cover;
}

/* 그라데이션 테스트 */
.test {
  text-align: center;
  padding-bottom: 50px;
  font-size: 20px;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    45deg,
    blue 0%,
    blue 33%,
    green 33%,
    green 66%,
    yellow 66%
  );
  background-repeat: no-repeat;
  background-size: 100% 10px;
  background-position: center bottom;
}
/* 그라데이션 */
.text {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    15deg,
    red 0%,
    red 33%,
    blue 33%,
    blue 66%,
    green 66%,
    green 100%
  );
}
/* 원형 그라데이션 */
.text2 {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, white, yellow, red);
}
/* 구 그라데이션 */
.text3 {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 20% 20%,
    white,
    red
  ); /*(circle at 왼쪽오른쪽% 위아래%,색깔)*/
}
/* 반복 */
.text-linear {
  width: 300px;
  height: 300px;
  background: repeating-linear-gradient(yellow, red 20px);
}
.text-radial {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: repeating-radial-gradient(
    circle,
    white,
    white 10%,
    red 10%,
    red 20%
  );
}
/* 글씨-그라데이션 */
.name {
  font-size: 40px;
  font-weight: 900;
  background: linear-gradient(90deg, rgb(255, 0, 43), skyblue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; /*크롬에서 적용*/
  cursor: pointer;
}
.name:hover {
  color: transparent;
  background: linear-gradient(rgb(4, 0, 63), rgb(251, 255, 0));
  background-clip: text;
  -webkit-background-clip: text;
  list-style: none;
}
